body {
  font-family: 'Poppins', sans-serif;
}

#backgroundImage {
  width: 100%;
  max-width: 100px;
  height: auto;
}

#search {
  margin-top: 30px;
  height: auto;
  width: auto;
}

.search {
  border-radius: 4px;
  border-color: honeydew;
  display: inline-block;
  width: 300px;
}

.search-button,
.location-button {
  background-color: #524a79;
  color: white;
  border-radius: 4px;
  display: inline-block;
  transition: all 200ms ease-and-out;
  border: 0.5px solid white;
}

.search-button:hover,
.location-button:hover {
  background: #3e3245;
}

#celsius-link,
#fahrenheit-link,
#date,
.last-updated,
.current-city,
.last-updated {
  color: #3e3245;
}

#date,
.last-updated {
  font-size: 20px;
}

.current-weather {
  color: hsl(156, 3%, 64%);
  font-size: 50px;
}
#temperature {
  font-size: 40px;
  color: #3e3245;
  font-weight: bold;
  margin-top: -10px;
}

.degree {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: -15px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

#description,
#humidity,
#wind {
  text-decoration: none;
  color: #3e3245;
  text-transform: capitalize;
  cursor: default;
  font-size: 17px;
  font-weight: 500;
}

.date,
.time {
  margin: 10px;
}

.container.main {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  max-height: 1100px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 4px;
  border: 1px solid hsl(156, 3%, 64%);
  background: linear-gradient(
    111.5deg,
    rgb(187, 232, 255) 11.1%,
    rgb(4, 78, 116) 107.5%
  );
  background-size: 900px 700px;
}

.row {
  width: 100%;
  padding: 5px;
  margin: 5px;
}

.card-group.forecast {
  margin: 5px;
  border: 2px;
  padding: 10px;
  opacity: 0.77;
  text-decoration: none;
  cursor: default;
  margin-bottom: 2px;
}

.card-body {
  font-size: 15px;
  text-decoration: none;
  cursor: default;
}

.forecast {
  text-align: center;
}

.day {
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid white;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}

.day:hover {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(148, 241, 246) 0%,
    rgb(148, 189, 246) 100.7%
  );
}

#icon {
  margin-left: 8px;
  margin-right: 10px;
  margin-bottom: 15px;
  color: #524a79;

  font-size: 50px;
}

.weather-forecast-temperatures {
  font-size: 15px;
}
.weather-forecast-temperature-min {
  opacity: 0.7;
}

.card-title {
  font-size: 20px;
  text-decoration: none;
  cursor: default;
}

#weather-icon {
  color: #524a79;
  font-size: 30px;
}

.card-title.display {
  color: #3e3245;
}

#githubLink{
  text-decoration:none;
}

#githubIcon {
  color: #524a79;
  font-size: 22px;
}

#open-source{
  font-family: 'Poppins';
  font-size: 13.5px;
  color: #524a79;
}
