body {
  font-family: 'Poppins', sans-serif;
}

#search {
  margin-top: 30px;
  height: auto;
  width: auto;
}

.search {
  border-radius: 4px;
  border-color: honeydew;
  display: inline-block;
}

.search-button,
.location-button {
  background-color: rgba(18, 133, 159, 0.927);
  color: white;
  border-radius: 4px;
  display: inline-block;
  transition: all 200ms ease-and-out;
}

.search-button:hover,
.location-button:hover {
  background: linear-gradient(-225deg, #b7f8db 0%, #50a7c2 100%);
}

.current-city {
  color: rgb(238, 188, 62);
}

.current-weather {
  color: hsl(156, 3%, 64%);
}

#temperature,
.degree {
  font-size: 20px;
  color: rgba(17, 95, 113, 0.927);
  font-weight: bold;
}

#celsius:hover,
#fahrenheit:hover {
  cursor: pointer;
  background: linear-gradient(
    -20deg,
    rgb(233, 222, 250) 0%,
    rgb(251, 252, 219) 100%
  );
}

#humidity,
#wind {
  color: rgba(17, 95, 113, 0.927);
}

.date,
.time {
  margin: 10px;
  color: rgba(17, 95, 113, 0.927);
}

.container.main {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  max-height: 1100px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
  border: 1px solid hsl(156, 3%, 64%);
  background: url(flowers.jpg);
  background-size: 900px 500px;
}

.row {
  width: 100%;
  padding: 5px;
  margin: 5px;
}

.card-group.forecast {
  margin: 5px;
  border: 2px;
  padding: 10px;
}

.forecast {
  text-align: center;
  font-size: 20px;
  opacity: 0.42;
  color: rgba(17, 95, 113, 0.927);
}

.day {
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid white;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}
.day:hover {
  background: linear-gradient(
    -20deg,
    rgb(233, 222, 250) 0%,
    rgb(251, 252, 219) 100%
  );
}

.weather-icon {
  color: black;
  font-size: 30px;
}

.source-link {
  font-style: oblique;
  color: rgba(80, 92, 94, 0.927);
}
